<div class="dashboard-page">
    <h2>Bienvenido, {{ currentUser()?.fullName }}</h2>
    <p class="role-desc">Panel principal del sistema HelpDesk (Rol: <strong>{{
            currentRole() }}</strong>)</p>

    <div class="dashboard-cards">
        <div class="card">
            <h3>Tickets Rápidos</h3>
            <p>Accede de forma directa a la gestión y consulta de
                requerimientos.</p>
            <a routerLink="/tickets" class="btn btn-secondary">Ver Tickets</a>
        </div>

        @if (currentRole() === 'ADMIN') {
        <div class="card admin-card">
            <h3>Administración</h3>
            <p>Gestión avanzada de usuarios y roles del sistema.</p>
            <a routerLink="/users" class="btn btn-primary">Gestionar
                Usuarios</a>
        </div>
        }
    </div>
</div>